@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
    <head>
        <title>draft</title>
    </head>
<body>
    <h1>draft a post</h1>
    <hr/>
    <a href="/">return</a> <a href="/home/info">leaflet_asp information</a>
    <hr/>
    <br/>
<form asp-action="Draft" method="post">
    <label asp-for="Author">author</label><input name="Author" id="shortinp"/><label asp-for="Title">title</label><input name="Title" id="shortinp2"/>
    <hr/>
    <label asp-for="Content">message</label><br/><textarea id="textarea" name="Content" asp-for="Content" rows="8" cols="65"></textarea>
    <br/>
    <button type="submit">submit</button>
</form>

<script>
            //enter: replace form submission with new line
            document.getElementById("textarea").addEventListener("keydown", function (ev) {
               if (ev.key === "Enter") {
                   ev.preventDefault();
                   let textarea = ev.target;
                   textarea.value += "\n"
               }
            });
            
            //block form submission on enter
            document.getElementById("shortinp").addEventListener("keydown", function (ev) {
               if (ev.key === "Enter") {
                   ev.preventDefault();
               }
            });
            document.getElementById("shortinp2").addEventListener("keydown", function (ev) {
               if (ev.key === "Enter") {
                   ev.preventDefault();
               }
            });
</script>
</body>
</html>