@using LeafletAsp.Data
@model System.Collections.Generic.IEnumerable<LeafletAsp.Data.Post>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>index</title> 
</head>
<body>
    <h1>leaflet_asp</h1>
    <hr/>
    <a href="/home/draft">draft a post  </a> <a href="/home/info">leaflet_asp information</a>
    <hr/>
    <br/>
    <div class="stats">
        <p>posts: @Model.Count() uptime: @(DateTime.UtcNow - LeafletAsp.Program.Startup)</p>
    </div>
    <hr/>
    <h3>recent posts</h3>
    <hr/>
    <div class="feed" style="padding-left: 5%; padding-right: 15%">
        @foreach (Post post in Model)
        {
            <div class="post" style="border-style: solid; border-width: 1px; padding: 12px">
                <h4 style="font-size: 16px">@post.Title</h4>
                <p class="post_info" style="font-family: 'Courier New', 'Courier', monospace; font-size: 10px;">by @post.Author at @(LeafletAsp.Program.UnixTimeStampToDateTime(post.Time))</p>
                <p class="post_content" style="font-family: 'Verdana', 'Geneva', sans-serif; font-size: 13px">@Html.Raw(post.Content)</p>
                <br/>
            </div>
        }
    </div>
</body>
</html>

