@page

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
    <head>
        <title>info</title>
    </head>
<body>
    <title>leaflet_asp</title>
    <hr/>
    <a href="/">return home</a>
    <br/>
<p>leaflet_asp is a clone of <a href="https://leaflet.acei.us">leaflet</a> by Aceius that is made with the ASP.NET framework. The original is made with PHP (cringe), but it is actually good. I am making this as an exercise to learn ASP.NET. This software is licensed under the MIT license. Source code may be viewed on <a href="https://gitlab.com/PilotGuy772/leafletasp">gitlab</a>.</p>
<br/><p><strong>Rules</strong></p>
<ul>
    <li>No illegal content by US law. This essentially means no violation of intellectual property rights.</li>
    <li>No pornography or excessive adult imagery.</li>
    <li>Try your best to hack or otherwise penetrate this system. At this stage of development, all penetration testing is allowed and encouraged.</li>
    <li>If you do choose to attempt to penetrate the system, please leave a post detailing what you found (after you are done) and do not destroy data.</li>
    <li>The owners of the service reserve the right to remove any content for any reason without notice or explanation and reserve the right to revoke any individual's access to submit content to the site for any reason without notice or explanation.</li>
</ul>
</body>
</html>